<div class="main posts-new">
  <div class="container">
    <div class="contents">
      <h1 class="form-heading">コメントする</h1>
      <div class="form">
        <div class="form-body">
          <%= form_for(@comment, url: post_comments_path) do |f| %>
            <div class="form-group">
              <%= f.text_area :comment, class: 'form-control' %>
              <textarea name="post_id" class="hidden"><%= params[:post_id] %></textarea>
            </div>
            <%= f.submit "投稿", class: 'btn btn-block btn-black' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
