<div class="main posts-index">
  <div class="container">
    <% @favorite_posts.each do |post| %>
      <div class="posts-index-item">
        <h2 class="post-author">
          <%= post.user.name %>
        </h2>
        <%= link_to image_tag(post.image.url, {:border => '0'}), "/posts/#{post.id}" %>
          <%= image_tag 'icons/heart-black.png', class: 'post-index-icon' %>
        <p class="topic-text">
          <%= post.description %>
        </p>
      </div>
    <% end %>
  </div>
</div>
