<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-user-image">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-user-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        </div>
        <%= link_to image_tag(post.image.url, {:border => '0'}), "/posts/#{post.id}" %>
        <p class="post-text">
          <%= post.description %>
        </p>
      </div>
    <% end %>
  </div>
</div>
