/* posts/index ================================ */
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;

    .post-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }
    .post-index-icon {
        width: 35px;
        height: 30px;
        margin-left: 20px;
    }

    .post-user-image {
      float: left;
      width: 10%;
    }

    .post-user_image img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0 2px 6px #c1ced7;
      object-fit: cover;
    }

    .post-user-name {
      float: left;
      width: 90%;
      padding-left: 15px;
      text-align: left;
    }
}

/* posts/show ================================ */
.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

/* posts/new ================================ */
.form-control {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.form-control::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}

/* いいね機能================================ */
.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

/* posts/intextest ================================ */
.posts-index {
  background: $lightgrey;
}

.post-content {
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding: $padding*5 0;
    color: darken($lightgrey, 20%);
  }
}

.post-box {
  margin: 0 0 $margin*3 0;
  background: $white;
  width: 100%;
  float: left;

  .post-user-data {
    float: left;
    width: 100%;
    position: relative;

    .post-user-image {
      float: left;
      padding: 10px;
    }

    .post-user-image img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0 2px 6px #c1ced7;
      object-fit: cover;
    }

    .post-user-name {
      float: left;
      text-align: left;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .post-data {
  float: left;
  width: 100%;

    .image-wrap {
      text-align: center;

      img {
        width: 60%;
        padding: $padding;

      }

      .likes {
        position: absolute;
        bottom: 5px;
        left: 15px;
        padding: $padding/2;
        background: $black;
        background: rgba($black, 0.4);
        color: $white;
      }
    }
    .post-description {
      font-size: 12px;
      color: $mediumgrey;
      letter-spacing: 1px;
      padding: $padding*1.5;
      height: 75px;
      width: 80%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }
}
